<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vote.mapper.UsersMapper">
    <select id="Check" parameterType="com.vote.pojo.Users" resultType="com.vote.pojo.Users">
        select * from vote_user where vu_user_name=#{vu_user_name}
    </select>
    <insert id="addUser">
        insert into vote_user(vu_user_name,vu_password,vu_status)value (#{vu_user_name},#{vu_password},#{vu_status})
    </insert>
</mapper>